---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getTagCounts } from "../../lib/posts";

const tags = getTagCounts();
---

<BaseLayout title="Tags">
  <h1>Tags</h1>
  <ul>
    {tags.map((item) => (
      <li><a href={`/tags/${item.tag}`}>{item.tag} ({item.count})</a></li>
    ))}
  </ul>
</BaseLayout>
