---
import HelloWorld from '../components/HelloWorld.jsx';
import { Badge } from '@ui/ui/badge';
import Cube from '@feature/three/src/Cube';
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Astro</title>
</head>
<body>
  <HelloWorld client:load />
  <Badge>Badge</Badge>
  <Cube client:load />
</body>
</html>