---
import { App } from "../components/App";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>structure_viewer</title>
  </head>
  <body>
    <App client:load />
  </body>
</html>
