---
import { DesktopArticleApp } from "../components/DesktopArticleApp";
import "../styles/global.css";
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Desktop Astro + Tauri</title>
    <meta
      name="description"
      content="Astro + Tauri desktop template with @ui/shadcn and @features/editor"
    />
  </head>
  <body>
    <DesktopArticleApp client:load />
  </body>
</html>
