---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
const { content } = Astro.props;

interface Props {
	title: string;
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{content.title}</title>
		<ClientRouter />
	</head>
	<body>
		<slot />
		<script>
			import { getAnimationManager } from "@ui/gsap";

			// Manager 인스턴스 생성 (한 번만 실행됨)
			getAnimationManager();
		</script>
	</body>
</html>
