---
import  { Hello } from "../components/Hello";
---

<html>
	<head>
		<title>My first project with Astro</title>
	</head>
	<body>
		<div>This is my First Astro page </div>
		<Hello />
	</body>
</html>
