---
import { Footer, Header } from "@ui/shadcn";
import "../styles/global.css";

const sections = [
  { id: "section-1", title: "Section 1", color: "section--one" },
  { id: "section-2", title: "Section 2", color: "section--two" },
  { id: "section-3", title: "Section 3", color: "section--three" },
  { id: "section-4", title: "Section 4", color: "section--four" },
  { id: "section-5", title: "Section 5", color: "section--five" },
];
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Monorepo Astro Template</title>
    <meta name="description" content="Astro app template using @ui/shadcn" />
  </head>
  <body>
    <div class="template-root">
      <Header />

      <main class="template-body">
        {
          sections.map((section) => (
            <section id={section.id} class={`section ${section.color}`}>
              <h2>{section.title}</h2>
            </section>
          ))
        }
      </main>

      <Footer />
    </div>
  </body>
</html>
